h3, h4 {
  margin: 0;
  color: #024FA1;
}

li {
  color: #777777;
}

.skill-set-header {
  justify-content: center;
  color: #777777
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}
