<div class="container-fluid">

  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4>RESUME</h4>
            </div>
          </div>
        </div>

        <div class="card-block">

          <!--Tab Group-->
          <md-tab-group>
            <md-tab label="Employment History">
              <div>
                <md-accordion>
                  <md-expansion-panel>
                    <md-expansion-panel-header>
                      <md-panel-title>
                        International Cruise & Excursions - App, Web Developer
                      </md-panel-title>
                      <md-panel-description>
                        March 2017 - Current
                      </md-panel-description>
                    </md-expansion-panel-header>
                    <p>Primary Responsibilities:</p>
                    <ul>
                      <li>Built UI and crud operations for new payment collection portal</li>
                      <li>Technologies used – angular 4, HTML5, CSS3, Bootstrap, Rest Services, TypeScript, Back end
                        team handed off the data models, I wired up
                      </li>
                      <li>Built the collector application and admin. Full CRUD operations which included CC
                        transactions, updating, searching CC and name info and all validation using Angular 4,
                        TypeScript, WebPack, Cli
                      </li>
                    </ul>
                  </md-expansion-panel>
                  <md-expansion-panel>
                    <md-expansion-panel-header>
                      <md-panel-title>
                        Bank of America - Application, Web Developer
                      </md-panel-title>
                      <md-panel-description>
                        <span>2016 - 2017</span>
                      </md-panel-description>
                    </md-expansion-panel-header>
                    <p>Primary Responsibilities:</p>
                    <ul>
                      <li>Built complex data front ends tying in ajax calls and rest services from an API on the
                        backend.
                      </li>
                      <li>Converting 3 apps from angular 1... to angular 2…</li>
                      <li>Complex data Application and UI centered around a user being able to filter and compare
                        complex events in the banking industry such as – client withdrawing large sums or other unusual
                        activity with that data. AngularJS
                      </li>
                      <li>Completed dashboard for 15 data apps worked with a programmer given API’s as needed then built
                        the interface, tied in all data accordingly. – AngularJS
                      </li>
                      <li>Dashboard for a rest services test application. Worked with developers built the dashboard to
                        next phase tying in data. AngularJS
                      </li>
                    </ul>
                  </md-expansion-panel>
                  <md-expansion-panel>
                    <md-expansion-panel-header>
                      <md-panel-title>
                        Tech data - Web Developer
                      </md-panel-title>
                      <md-panel-description>
                        <span>2015 - 2016</span>
                      </md-panel-description>
                    </md-expansion-panel-header>
                    <p>Primary Responsibilities:</p>
                    <ul>
                      <li>Responsible for taking AI and PS comps building the web pages including HTML, CSS, JAVASCRIPT,
                        JQUERY and ANGULAR JS
                      </li>
                      <li>EU Stream One Store Navigation Categories Section using AngularJS</li>
                      <li>Multiple comp to code projects for Stream one US and EU stores</li>
                    </ul>
                  </md-expansion-panel>
                  <md-expansion-panel>
                    <md-expansion-panel-header>
                      <md-panel-title>
                        Web Solutions - Web Developer
                      </md-panel-title>
                      <md-panel-description>
                        <span>2007 - 2015</span>
                      </md-panel-description>
                    </md-expansion-panel-header>
                    <p>Primary Responsibilities:</p>
                    <ul>
                      <li>Responsible for meeting with clients, providing website ideas to help client brand, and build
                        a website for their business turning their ideas into reality
                      </li>
                      <li>Html, Css, jQuery, JavaScript, AngularJs</li>
                    </ul>
                  </md-expansion-panel>
                  <md-expansion-panel>
                    <md-expansion-panel-header>
                      <md-panel-title>
                        Intermedics/StJude medical - Sales, Management, Director
                      </md-panel-title>
                      <md-panel-description>
                        <span>1994-2007</span>
                      </md-panel-description>
                    </md-expansion-panel-header>
                    <p>Primary Responsibilities:</p>
                    <ul>
                      <li>Independent sales representative building relationships with physicians and providing device
                        programming in surgery. Consistently one of the top sales producers in the country. Promoted to
                        management then sales director for St Jude Medical
                      </li>
                      <li>Sales – building relationships and assisting in surgery</li>
                      <li>Management – Managing groups of sales representatives, building deeper relationships with
                        customers, and recruiting competitive representatives
                      </li>
                    </ul>
                  </md-expansion-panel>
                </md-accordion>

              </div>
            </md-tab>
            <md-tab label="Knowledge Base">
              <div class="row skill-set-header">
                <h5>Skill Set</h5>
              </div>
              <div class="row">
                <div class="col">
                  <ul>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>Node</li>
                    <li>jQuery</li>
                    <li>SASS</li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>Bootstrap</li>
                    <li>GIT</li>
                    <li>WebStorm</li>
                    <li>VS Code</li>
                    <li>TypeScript</li>
                    <li>JWT Web Tokens</li>
                    <li>FireBase</li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li>Rest Services</li>
                    <li>Grunt</li>
                    <li>Gulp</li>
                    <li>WebPack</li>
                    <li>NPM</li>
                    <li>Bower</li>
                  </ul>
                </div>
              </div>
            </md-tab>

            <md-tab label="Education">
              <md-horizontal-stepper [linear]="isLinear">
                <md-step [stepControl]="firstFormGroup">
                  <ng-template mdStepLabel>TEAM TREEHOUSE: 2013</ng-template>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>WebSite Basics: 10 courses</li>
                        <li>HTML5, CSS3 Basics: 7 courses</li>
                        <li>JavaScript Basics: 5 courses</li>
                        <li>HTML Forms: 3 courses</li>
                        <li>JavaScript Loops, Arrays, Objects: 3 courses</li>
                        <li>jQuery Basics: 6 courses</li>
                        <li>HTML Tables: 2 courses</li>
                        <li>Interactive WebPages: 3 courses</li>
                        <li>HTML Video and Audio: 3 courses</li>
                      </ul>
                    </div>
                    <div class="col">
                      <ul>
                        <li>Responsive Layouts: 3 courses</li>
                        <li>AJAX Basics: 4 courses</li>
                        <li>OOP JavaScript: 4 courses</li>
                        <li>Accessibility: 3 courses</li>
                        <li>Web Optimization: 1 course</li>
                        <li>Console Foundations: 5 courses</li>
                        <li>Git Basics: 6 courses</li>
                        <li>Node JS Basics: 6 courses</li>
                        <li>Angular: 13 Courses</li>
                      </ul>
                    </div>
                  </div>
                </md-step>

                <md-step [stepControl]="secondFormGroup">
                  <ng-template mdStepLabel>TAMPA TECH: 1990</ng-template>
                  <ul>
                    <li>Associates of Science in Electronic Engineering</li>
                    <li>GPA: 3.9</li>
                  </ul>
                </md-step>


                <md-step [stepControl]="thirdFormGroup">
                  <ng-template mdStepLabel>Misc</ng-template>
                  <div class="row">
                    <div class="col">
                      <ul>
                        <li>Business Management UOP: 4 classes</li>
                        <li>Economics UOP: 2 classes</li>
                        <li>Multiple Web Dev Courses Udemy</li>
                        <li>Multiple Web Dev Classes Lynda.com</li>
                        <li>Multiple Web Dev Classes: Pluralsight</li>
                        <li>Strong desire to continue learning and growing as a developer and manager</li>
                      </ul>
                    </div>
                  </div>

                </md-step>
              </md-horizontal-stepper>
            </md-tab>

          </md-tab-group>
          <!--End Tab Group-->

        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-12">
              <h4>ABOUT ME</h4>
            </div>
          </div>
        </div>
        <div class="card-block">
          <p>Facts about me! - Coming soon</p>
        </div>
      </div>
    </div>
  </div>

</div>



