<<<<<<< HEAD
:host {
  background-color: #024FA1;
  color: #777;
  min-height: 26px;

}
=======
:host {
  background-color: #024FA1;
  color: #777;
  min-height: 26px;

}
>>>>>>> 826ec3ec95212f4c7bde8fd4146852f2fe049167
