<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-12">
            <h4>CONTACT ME</h4>
          </div>
        </div>
      </div>
      <div class="card-block">
        <md-card>
          <h4>Contact Information</h4>
          <p>Cell Number: <span>1-480-486-0980</span></p>
          <p>Email Address: <span>programmingjam@gmail.com</span></p>
          <p>Address: <span>1721 E Alegria Rd Queen Creek Az 85140</span></p>
        </md-card>
      </div>
    </div>
  </div>
</div>
