<nav>
  <ul>
    <li *ngFor="let item of menuService.items">
      <db-menu-item [item]="item"
                    [ngClass]="{'vertical-menu': menuService.isVertical}"
      ></db-menu-item>
    </li>
  </ul>
</nav>

<button *ngIf="!menuService.showingLeftSideMenu"
        class="btn btn-sm"
        [ngClass]="{'horizontal': !menuService.isVertical }"
        (click)="menuService.toggleMenuOrientation()">
  <span *ngIf="menuService.isVertical" class="fa fa-arrow-up"></span>
  <span *ngIf="!menuService.isVertical" class="fa fa-arrow-left"></span>

</button>
